$color-primary: #b83b5e;
$color-primary-light: #f08a5d;
$color-primary-dark: #6a2c70;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-white: #fff;
$color-black: #000;
$color-secondary-light: #30e3ca;
$color-secondary-dark: #40514e;
$color-tertiary-light: #3490de;
$color-tertiary-dark: #521262;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//BORDER-RADIUS
$border-radius-small: 3px;